Repository unofficialquant/template-py, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, assets, docs, github, github-actions, scripts, src, tools

.github/labeler.yml:

---
repo:
  - "*"

assets:
  - assets/**/*

docs:
  - docs/**/*

github:
  - .github/*

github-actions:
  - .github/workflows/*

scripts:
  - scripts/**/*

src:
  - src/**/*

tools:
  - tools/**/*

build: add requirements.txt
  requirements.txt
Labels: repo

ci(dependabot): add pip
  .github/dependabot.yml
Labels: github

chore: add gitignore
  .gitignore
Labels: repo

ci: add linting
  .bandit.yml
  .flake8
  .gitlint
  .isort.cfg
  .mypy.ini
  .pre-commit-config.yaml
  .pydocstylerc
  .pylintrc
  .yamllint.yml
  requirements-dev.txt
Labels: repo

ci: add python support
  .github/workflows/ci.yml
Labels: github-actions

chore: upadate readme
  README.md
Labels: repo

ci: update mypy config
  .mypy.ini
  .pre-commit-config.yaml
Labels: repo

chore: added example
  src/__init__.py
  src/add.py
  tests/add_test.py
Labels: src

ci: fix python deps
  .github/workflows/ci.yml
Labels: github-actions

build: bump yamllint to 1.32.0
  .pre-commit-config.yaml
  requirements-dev.txt
Labels: repo

ci: add pytest config
  pytest.ini
Labels: repo

ci: fix pytest
  .github/workflows/ci.yml
Labels: github-actions

ci(dependabot): add pip
  .github/dependabot.yml
Labels: github

ci: add pytest config
  pytest.ini
Labels: repo

ci: fix python deps
  .github/workflows/ci.yml
Labels: github-actions

ci: add linting
  .bandit.yml
  .flake8
  .gitlint
  .isort.cfg
  .mypy.ini
  .pre-commit-config.yaml
  .pydocstylerc
  .pylintrc
  .yamllint.yml
  requirements-dev.txt
Labels: repo

ci: update mypy config
  .mypy.ini
  .pre-commit-config.yaml
Labels: repo

chore: upadate readme
  README.md
Labels: repo

chore: added example
  src/__init__.py
  src/add.py
  tests/add_test.py
Labels: src

ci: add python support
  .github/workflows/ci.yml
Labels: github-actions

build: add requirements.txt
  requirements.txt
Labels: repo

chore: add gitignore
  .gitignore
Labels: repo

build: bump yamllint to 1.32.0
  .pre-commit-config.yaml
  requirements-dev.txt
Labels: repo

ci: fix pytest
  .github/workflows/ci.yml
Labels: github-actions

ci(dependabot): update prefix
  .github/dependabot.yml
Labels: github

ci: cache key based on requirements.txt and requirements-dev.txt
  .github/workflows/ci.yml
Labels: github-actions

ci: update flake8 plugins
  .pre-commit-config.yaml
Labels: repo

build(deps): update dev
  requirements-dev.txt
Labels: repo

ci(stale): update message
  .github/workflows/stale.yml
Labels: github-actions
